<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>APUS</title>
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=BenchNine:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <script src="js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--
      ====================================================
      header section
    -->
    <header class="top-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-5 header-logo">
            <br />
            <a href="/"
              ><img src="img/logo.png" alt="" class="img-responsive logo"
            /></a>
          </div>

          <div class="col-md-7">
            <nav class="navbar navbar-default">
              <div class="container-fluid nav-bar">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button
                    type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1"
                  >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                <!--
                  Collect the nav links, forms, and other content for toggling
                -->
                <div
                  class="collapse navbar-collapse"
                  id="bs-example-navbar-collapse-1"
                >
                  <ul class="nav navbar-nav navbar-right">
                    <li><a class="menu active" href="#home">Home</a></li>
                    <li><a class="menu" href="#about">about</a></li>
                    <li><a class="menu" href="#service">Services </a></li>
                    <li><a class="menu" href="#team">Team</a></li>
                    <li><a class="menu" href="#contact">Contact</a></li>
                    <li><a class="menu" href="#login"> Login</a></li>
                  </ul>
                </div>
                <!-- /navbar-collapse -->
              </div>
              <!-- / .container-fluid -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- end of header area -->

    <section class="slider" id="home">
      <div class="container-fluid">
        <div class="row">
          <div
            id="carouselAPUS"
            class="carousel slide carousel-fade"
            data-ride="carousel"
          >
            <div class="header-backup"></div>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/slide-one.jpg" alt="" />
                <div class="carousel-caption">
                  <h1>providing</h1>
                  <p>highquality service for men &amp; women</p>
                  <button>learn more</button>
                </div>
              </div>
              <div class="item">
                <img src="img/slide-two.jpg" alt="" />
                <div class="carousel-caption">
                  <h1>providing</h1>
                  <p>highquality service for men &amp; women</p>
                  <button>learn more</button>
                </div>
              </div>
              <div class="item">
                <img src="img/slide-three.jpg" alt="" />
                <div class="carousel-caption">
                  <h1>providing</h1>
                  <p>highquality service for men &amp; women</p>
                  <button>learn more</button>
                </div>
              </div>
              <div class="item">
                <img src="img/slide-four.jpg" alt="" />
                <div class="carousel-caption">
                  <h1>providing</h1>
                  <p>highquality service for men &amp; women</p>
                  <button>learn more</button>
                </div>
              </div>
            </div>
            <!-- Controls -->
            <a
              class="left carousel-control"
              href="#carouselAPUS"
              role="button"
              data-slide="prev"
            >
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="right carousel-control"
              href="#carouselAPUS"
              role="button"
              data-slide="next"
            >
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- end of slider section -->

    <!-- about section -->
    <section class="about text-center" id="about">
      <div class="container">
        <div class="row">
          <h2>about us</h2>
          <h4>Assessment Passport Unique System (APUS)</h4>
          <div class="col-md-4 col-sm-6">
            <div class="single-about-detail clearfix">
              <div class="about-img">
                <img class="img-responsive" src="img/item1.jpg" alt="" />
              </div>
              <div class="about-details">
                <div class="pentagon-text"><h1>E</h1></div>
                <h3>Elderly's specialist</h3>
                <p>
                  The APUS provides a wide range of services for people growing
                  older in Ireland. Supports are also available from the
                  Department of Social Protection and Local Authorities.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-about-detail">
              <div class="about-img">
                <img class="img-responsive" src="img/item2.jpg" alt="" />
              </div>
              <div class="about-details">
                <div class="pentagon-text"><h1>W</h1></div>

                <h3>Women’s specialist</h3>
                <p>
                  We give the best possible healthcare to be available to all
                  women in Ireland. The Womens Health Clinic has been
                  established to provide an expert personal service.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-about-detail">
              <div class="about-img">
                <img class="img-responsive" src="img/item3.jpg" alt="" />
              </div>
              <div class="about-details">
                <div class="pentagon-text"><h1>M</h1></div>
                <h3>Man's specialist</h3>
                <p>
                  Your GP is usually the first person to approach in relation to
                  mental health concerns. Many people go to their family doctor
                  (GP) with mental health problems such as depression or
                  anxiety.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of about section -->

    <!-- about section -->
    <section class="about text-center" id="hse">
      <div class="container">
        <div class="row">
          <h2>Regulated and compliant</h2>
          <h4></h4>
          <div class="col-md-4 col-sm-6">
            <div class="single-about-detail clearfix">
              <div class="about-img">
                <img class="img-responsive" src="img/hse.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-about-detail">
              <div class="about-img">
                <img class="img-responsive" src="img/HIQA-Logo.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-about-detail">
              <div class="about-img">
                <img class="img-responsive" src="img/HIPAA-Logo.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of about section -->

    <!-- service section starts here -->
    <section class="service text-center" id="service">
      <div class="container">
        <div class="row">
          <h2>our services</h2>
          <h4>Our system provides the most reliable services</h4>
          <div class="col-md-3 col-sm-6">
            <div class="single-service">
              <div class="single-service-img">
                <div class="service-img">
                  <img
                    class="calendar img-responsive"
                    src="img/service2.png"
                    alt=""
                  />
                </div>
              </div>
              <h3>Initial Assesment</h3>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="single-service">
              <div class="single-service-img">
                <div class="service-img">
                  <img
                    class="home img-responsive"
                    src="img/service1.png"
                    alt=""
                  />
                </div>
              </div>
              <h3>Schedule appointment</h3>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="single-service">
              <div class="single-service-img">
                <div class="service-img">
                  <img
                    class="decision img-responsive"
                    src="img/service3.png"
                    alt=""
                  />
                </div>
              </div>
              <h3>Best decision by professionals</h3>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="single-service">
              <div class="single-service-img">
                <div class="service-img">
                  <img
                    class="access img-responsive"
                    src="img/service4.png"
                    alt=""
                  />
                </div>
              </div>
              <h3>Easy access from anywhere in ROI</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of service section -->

    <!-- team section -->
    <section class="team" id="team">
      <div class="container">
        <div class="row">
          <div class="team-heading text-center">
            <h2>our team</h2>
            <h4>
              The best and most capable professionals from Europe are avaiable
              for our patients
            </h4>
          </div>
          <div class="col-md-2 single-member col-sm-4">
            <div class="person">
              <img
                class="img-responsive"
                src="img/member1.jpg"
                alt="member-1"
              />
            </div>
            <div class="person-detail">
              <div class="arrow-bottom"></div>
              <h3>Dr. M. Weiner, M.D.</h3>
              <p>
                The APUS provides a comprehensive range of community-based
                mental health services. Services provided are caring and
                confidential.
              </p>
            </div>
          </div>
          <div class="col-md-2 single-member col-sm-4">
            <div class="person-detail">
              <div class="arrow-top"></div>
              <h3>Dr. Danielle, M.D.</h3>
              <p>
                The mental health service has changed considerably over the last
                twenty years or so. These changes have been and are driven by
                Irish Government policies.
              </p>
            </div>
            <div class="person">
              <img
                class="img-responsive"
                src="img/member2.jpg"
                alt="member-2"
              />
            </div>
          </div>
          <div class="col-md-2 single-member col-sm-4">
            <div class="person">
              <img
                class="img-responsive"
                src="img/member3.jpg"
                alt="member-3"
              />
            </div>
            <div class="person-detail">
              <div class="arrow-bottom"></div>
              <h3>Dr. Caitlin, M.D.</h3>
              <p>
                Changing of mental institutions. This resulted in the
                development of better care and more supportive service to
                individuals with mental illness.
              </p>
            </div>
          </div>
          <div class="col-md-2 single-member col-sm-4">
            <div class="person-detail">
              <div class="arrow-top"></div>
              <h3>Dr. Joseph, M.D.</h3>
              <p>
                It's important to look at different nursing homes before
                choosing one. Make an appointment to visit the nursing home
                before making a decision.
              </p>
            </div>
            <div class="person">
              <img
                class="img-responsive"
                src="img/member4.jpg"
                alt="member-4"
              />
            </div>
          </div>
          <div class="col-md-2 single-member col-sm-4">
            <div class="person">
              <img
                class="img-responsive"
                src="img/member5.jpg"
                alt="member-5"
              />
            </div>
            <div class="person-detail">
              <div class="arrow-bottom"></div>
              <h3>Dr. Michael, M.D.</h3>
              <p>
                HIQA nursing home inspection reports. All nursing homes are
                inspected by Health Information and Quality Authority (HIQA)
              </p>
            </div>
          </div>
          <div class="col-md-2 single-member col-sm-4">
            <div class="person-detail">
              <div class="arrow-top"></div>
              <h3>Dr. Hasina, M.D.</h3>
              <p>
                The APUS provides range of services for older people, including
                in-patient acute services, day services, rehabilitation and home
                helps.
              </p>
            </div>
            <div class="person">
              <img
                class="img-responsive"
                src="img/member6.jpg"
                alt="member-5"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="container login" id="login">
        <div class="row">
          <div class="login-caption clearfix">
            <div class="col-md-6 col-md-offset-1 contact-form">
              <h3>Staff Portal Login</h3>
              <form class="form">
                <input
                  class="name"
                  name="username" id="username"
                  type="text"
                  placeholder="Staff id"
                />
                <input
                  class="email"
                  name="password" id="password"
                  type="password"
                  placeholder="Password"
                />
                <input class="submit-btn" type="button" id = "Login" value="Login" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of team section -->

    <!-- map section -->
    <div class="api-map" id="contact">
      <div class="container-fluid">
        <div class="row"><div class="col-md-12 map" id="map"></div></div>
      </div>
    </div>
    <!-- end of map section -->

    <!-- contact section starts here -->
    <section class="contact">
      <div class="container">
        <div class="row">
          <div class="contact-caption clearfix">
            <div class="contact-heading text-center"><h2>contact us</h2></div>
            <div class="col-md-5 contact-info text-left">
              <h3>contact information</h3>
              <div class="info-detail">
                <ul>
                  <li>
                    <i class="fa fa-calendar"></i
                    ><span>Monday - Sunday:</span> 5:00 AM to 8:00 PM
                  </li>
                </ul>
                <ul>
                  <li>
                    <i class="fa fa-map-marker"></i><span>Address:</span> kevin
                    Street, Dublin 2, Dublin, Ireland
                  </li>
                </ul>
                <ul>
                  <li>
                    <i class="fa fa-phone"></i><span>Phone:</span> (353)
                    123-4567
                  </li>
                </ul>
                <ul>
                  <li>
                    <i class="fa fa-fax"></i><span>Fax:</span> (353) 987-6543
                  </li>
                </ul>
                <ul>
                  <li>
                    <i class="fa fa-envelope"></i
                    ><span>Email:</span> info@apus.ie
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-md-offset-1 contact-form">
              <h3>leave us a message</h3>

              <form class="form">
                <input class="name" type="text" placeholder="Name" />
                <input class="email" type="email" placeholder="Email" />
                <input class="phone" type="text" placeholder="Phone No:" />
                <textarea
                  class="message"
                  name="message"
                  id="message"
                  cols="30"
                  rows="10"
                  placeholder="Message"
                ></textarea>
                <input class="submit-btn" type="submit" value="SUBMIT" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end of contact section -->

    <!-- footer starts here -->
    <footer class="footer clearfix">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 footer-para">
            <p>&copy;Tavares All right reserved</p>
          </div>
          <div class="col-xs-6 text-right">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-skype"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <!--
      script tags
      =============================================================
    -->
    <script src="js/jquery-2.1.1.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/gmaps.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
	
	<script>
		$(document).ready(function(){
		  var user,pass;		  
		  $("#Login").click(function(){
			user=$("#username").val();
			pass=$("#password").val();
			$.post("/login",{username: user,password: pass}, function(data){
				console.log(data);
			  if(data ==='done')
				{
				  alert("login success");
				  window.location.href ="/dashboard";
				}
				else{
					alert("Could not log in!");
				}
				
			});
		  });
		});
	  </script>


  </body>
</html>
